{{!-- <h1>catalog ept </h1> --}}



{{#if products.length}}
<div class="product-container">
    {{#each products}}
    <a class="product-card-link" href="../../../../shop/product/{{_id}}">
        <div class="product-card">
            <div class="product-image" id="product-{{_id}}"></div>
            <div class="product-title">{{prodTitle}}</div>
            <div class="product-price">{{price}} ₽</div>
            <style>
                #product-{{_id}}{
                    background-image: url(../../../image/products/{{prodTitle}}/Main.jpg)
                }

                #product-{{_id}}:hover {
                    background-image: url(../../../image/products/{{prodTitle}}/1.jpg)
                }
            </style>
        </div>
    </a> 
    {{/each}}
</div>
{{else}}
<h1>Товаров не найдено</h1>
{{/if}}
