<h1>shop</h1>

<div class="productContainer">
    {{#if products.length}}
    {{#each products}}
    <div class="prodCard">
        <img src="image/products/{{prodTitle}}/Main.jpg" alt="Картинка">
        <div class="prodTitle">{{prodTitle}}</div>
        <div class="price">{{price}}</div>
        <a href="/shop/product/{{_id}}">Подробнее...</a>
    </div>
    {{/each}}
    {{else}}
    <p>Товаров не найдено</p>
    {{/if}}
</div>