{{!-- <h1>shop</h1>

<div class="productContainer">
    {{#if products.length}}
    {{#each products}}
    <div class="prodCard">
        <img src="image/products/{{prodTitle}}/Main.jpg" alt="Картинка">
        <div class="prodTitle">{{prodTitle}}</div>
        <div class="price">{{price}}</div>
        <a href="/shop/product/{{_id}}">Подробнее...</a>
    </div>
    {{/each}}
    {{else}}
    <p>Товаров не найдено</p>
    {{/if}}
</div> --}}

<div class="catalog">
    <div class="catalog-group catalog-womans">
        <a href="#" class="catalog-group-name">Женское</a>
    </div>
    <div class="catalog-group catalog-mens">
        <a href="#" class="catalog-group-name">Мужское</a>
    </div>
    <div class="catalog-group catalog-bags">
        <a href="#" class="catalog-group-name">Сумки</a>
    </div>
    <div class="catalog-group catalog-wallet">
        <a href="#" class="catalog-group-name">Портмоне | Кошельки</a>
    </div>
    <div class="catalog-group catalog-access">
        <a href="#" class="catalog-group-name">Аксессуары</a>
    </div>
    <div class="catalog-group catalog-belt">
        <a href="#" class="catalog-group-name">Ремни</a>
    </div>
</div>