<li>
    <div class="blog-li">
        <div class="post-title">
            <a href="/blog/news/{{ _id}}">{{ newsTitle }}
            </a>
        </div>
        <div class="blog-li-content">

            <div class="post-image" style="background-image: url('../image/news/labels/{{newsTitle}}.jpg');"></div>
            <div class="post-description">{{discription}}</div>

        </div>
        <div class="blog-li-bottom">
            <a href="/blog/news/{{_id}}">Подробнeе...</a> | <div class="views-icon"></div>
            <div class="li-views">{{views}}</div> | <div class="postDate">{{newsDate}}</div>
        </div>
    </div>

</li>