<div class="order-info">
    <h2>Заказ номер {{order.orderNumber}}</h2>

    <div class="basket">
        {{#each order.basket}}
        <div class="product-card">
            <img src="/image/products/{{prodTitle}}/Main.jpg" width="100px" alt="Картинка">
            <div class="prodTitle">{{prodTitle}}</div>
        </div>
        {{/each}}
    </div>
    <h3>Заказчик: {{order.customer}}</h3>
    <h3>Вид доставки: {{order.deliveryMethod}}</h3>
    <h3>Адрес получения: {{order.address}}</h3>
    <h3>Статус: {{order.status}}</h3>
</div>