Заказ № {{order.orderNumber}}
Дата и время получения: {{order.date}} {{order.time}}

<h2>Состав</h2>
{{#if order.basket.length}}
{{#each order.basket}}
<div class="product-card">
    <img src="/image/products/{{prodTitle}}/Main.jpg" width="150px" alt="Картинка">
    <div class="prodTitle">{{add @index 1}}. {{prodTitle}}</div>
    <div class="price">{{price}} &#8381</div>
    <a href="/manage/orders/basket/delete/{{../order._id}}/{{_id}}"><button
            class="btn btn-outline-danger">Удалить</button></a>
</div>
{{/each}}
{{else}}

<h2>Заказ пуст</h2>

{{/if}}

<h2>Добавить товар</h2>
<form method="POST" action="/manage/orders/basket/add/{{order._id}}">
    <div class="mb-3">
        <label class="form-label" for="newProduct">Выберите товар:</label>
        <select class="form-select" name="newProduct" id="newProduct">
            {{#if products.length}}
            <option value="" disabled selected>Выберите товар</option>
            {{#each products}}
            <option value="{{_id}}">{{prodTitle}}</option>
            {{/each}}
            {{else}}
            <option value="" disabled selected>Товары не найдены</option>
            {{/if}}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Добавить</button>
</form>