<h2>Товары</h2>
<a href="/manage/products/create"><button>Создать товар</button></a>
<a href="/manage/products/shipments/create"><button>Приход товара</button></a>



{{#if products.length}}
<table class="manage-table">
    <tr class="manage-table-header">
        <th>Фото</th>
        <th>Наименование</th>
        <th>Категории</th>
        <th>Кол-ство</th>
        <th>Резерв</th>
        <th>Видимость</th>
        <th>Редактировать</th>
    </tr>
    {{#each products}}
    <tr>
        <th><img src="../image/products/{{prodTitle}}/Main.jpg" alt="картинка" width="50"></th>
        <th>{{prodTitle}}</th>
        <th>{{category}}</th>
        <th>{{count}}</th>
        <th>{{reserve}}</th>
        <th>{{visible}}</th>
        <th><a href="./products/edit/{{_id}}"><button type="button">Редактировать</button></a></th>
    </tr>
    {{/each}}
</table>
{{else}}
<h3>Товаров нет!</h3>
{{/if}}